
:root {
    --color-orange: hsl(31, 77%, 52%);
--color-cyan: hsl(184, 100%, 22%);
--color-dark-cyan: hsl(179, 100%, 13%);
--color-white: hsla(0, 0%, 100%, 0.75);
--color-light-grey: hsl(0, 0%, 95%);
}

.container {
    display: flex;
    flex-direction: column;
    margin: 10% 5%;
    min-width: 350px;
    max-width: 100%;
    font-size: 0.9em;
  }
  
  .card {
    flex-grow: 2;
    height: auto;
    padding: 2rem;
    color: white;
    width: 275px;
    height: calc(100vh / 1.9);
    margin: auto;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
  }
  .card:nth-of-type(1) {
    background-color: var(--color-orange);
    border-radius: 5px 5px 0 0;
  }
  .card:nth-of-type(2) {
    background-color: var(--color-cyan);
    border-radius: 0;
  }
  .card:nth-of-type(3) {
    background-color: var(--color-dark-cyan);
    border-radius: 0 0 5px 5px;
  }
  
  .attribution { font-size: 11px; text-align: center; }
      .attribution a { color: hsl(228, 45%, 44%); }
  
  h2 {
    color: var(--color-light-grey);
    text-transform: uppercase;
    font-family: 'Big Shoulders Display', cursive;
  }

  p {
      color: var(--color-white);
      font-family: 'Lexend Deca', sans-serif;
      font-size: 1em;
  }
  
  button {
    background-color: var(--color-light-grey);
    border: none;
    border-radius: 20px;
    font-size: 0.7em;
    padding: 10px 15px;
    color: var(--color-cyan);
    width: 50%;
    flex: 1;
    bottom: 0;
  }
  
  .btn-sedan { color: var(--color-orange); }
  .btn-suv { color: var(--color-cyan); }
  .btn-luxury { color: var(--color-dark-cyan); }
  
  @media (min-width: 600px) {
    .container {
    flex-direction: row;
    margin: 10% 15%;
    min-width: 350px;
    max-width: 100%;
    }
    .card:nth-of-type(1) {
    border-radius: 5px 0 0 5px;
  }
      .card:nth-of-type(3) {
    border-radius: 0 5px 5px 0;
  }
    
    
  }